{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1> перевіряти</h1>
<h1> перевіряти</h1>
<h1> перевіряти</h1>
<p style="background-color:tomato;">Опитування</p>

<input type="checkbox"  name="vehicle1" value="Bike">
<label for="vehicle1"> гарний настрій</label><br>
<input type="checkbox"  name="vehicle2" value="Car">
<label for="vehicle2"> поганий настрій</label><br>
<input type="checkbox"  name="vehicle3" value="Boat">
<label for="vehicle3"> середній настрій</label><br>
<input type="checkbox"  name="vehicle1" value="Bike">
<label for="vehicle1"> гарний настрій</label><br>
<input type="checkbox"  name="vehicle2" value="Car">
<label for="vehicle2"> поганий настрій</label><br>
<input type="checkbox"  name="vehicle3" value="Boat">
<label for="vehicle3"> середній настрій</label><br>
<input type="checkbox"  name="vehicle1" value="Bike">
<label for="vehicle1"> гарний настрій</label><br>
<input type="checkbox"  name="vehicle2" value="Car">
<label for="vehicle2"> поганий настрій</label><br>
<input type="checkbox"  name="vehicle3" value="Boat">
<label for="vehicle3"> середній настрій</label><br>
<input type="checkbox"  name="vehicle1" value="Bike">
<label for="vehicle1"> гарний настрій</label><br>
<input type="checkbox"  name="vehicle2" value="Car">
<label for="vehicle2"> поганий настрій</label><br>
<input type="checkbox"  name="vehicle3" value="Boat">
<label for="vehicle3"> середній настрій</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1"> гарний настрій</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle2"> поганий настрій</label><br>
<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
<label for="vehicle3"> середній настрій</label><br>

<button type="button">зберегти !</button>

{% endblock content %}