{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1>це домашня сторінка з формою текст фото та кнопками куди піти далі - календар, опрос чи бібліотечка</h1>
<h1>це домашня сторінка з формою текст фото та кнопками куди піти далі - календар, опрос чи бібліотечка</h1>

<h1>це домашня сторінка з формою текст фото та кнопками куди піти далі - календар, опрос чи бібліотечка</h1>


{% include 'huapp/new_entry.html' %}

{% include 'huapp/image_uploads.html' %}


{% endblock content %}