{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1>це домашня сторінка з формою текст фото та кнопками куди піти далі - календар, опрос чи бібліотечка</h1>
<h1>це домашня сторінка з формою текст фото та кнопками куди піти далі - календар, опрос чи бібліотечка</h1>
<h1>це домашня сторінка з формою текст фото та кнопками куди піти далі - календар, опрос чи бібліотечка</h1>

    <form action="{% url 'huapp:home_test_form' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Add test_info</button>
    </form>

{% endblock content %}



