{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}


<h1>бібліотека</h1>
<h1>бібліотека</h1>
<h1>бібліотека</h1>
<h1>бібліотека</h1>


<p style="background-color:blue;">Емоції (від фр. é mouvoir — «у русі», «хвилювання», «збудження») — це внутрішнє переживання або рух настрою, наприклад радість, страх, гнів, смуток, які можуть бути викликані ситуацією чи подією. Емоції також можуть виникати спонтанно. Емоції є суб'єктивними переживаннями і пов'язані з фізичними реакціями, виразом обличчя та поведінкою.</p>
<h2>Класифікація емоцій</h2>
<p style="background-color:MediumSeaGreen;">За ступенем збудження чи заспокоєння розрізняють:

Стенічні емоції — підштовхують до вчинків, висловів, збільшують напругу сил. Людині важко мовчати, не діяти активно (радість, впевненість, тріумф, страх, злість).
Астенічні емоції — характеризуються пасивністю, бездіяльністю (страждання, неспокій, страх).
За наявністю відтінків задоволення або незадоволення розрізняють:

Позитивні емоції — породжуються узгодженням обставин з нормами, що відповідають світогляду цієї особи (задоволення, радість, захват, замилування, самовдоволення, упевненість, задоволеність собою, повага, довіра, симпатія, ніжність, любов, вдячність, спокійна совість, полегшення, безпека, каяття, каяття совісті, й ін.).
Негативні емоції — породжуються відхиленням обставин від параметрів життєдіяльності конкретної людини як особистості (горе (скорбота), невдоволення, туга, сум, нудьга, розпач, засмучення, тривога, переляк, страх, жах, жалість, розчарування, образа, гнів, презирство, обурення, гордість, ворожість, заздрість, ненависть, злість, ревнощі, сумнів, розгубленість, зніяковілість, сором, відраза і т. д.)..</p>
<h2>Фундаментальні емоції</h2>
<p style="background-color:MediumSeaGreen;">
З часів Аристотеля налічують шість основних емоцій: радість, здивування, сум, гнів, страх і огиду[38].

Десять фундаментальних емоцій (за К. Ізардом) — це цікавість, радість, здивування, гнів, горе, відраза, зневага, страх, сором та вина.

Кожна фундаментальна емоція має властиві тільки для неї адаптивні функції з унікальними мотиваційними якостями, винятково важливими для кожного індивіду та для всього виду.

Емоції називаються фундаментальними, оскільки кожна з них має:

специфічні внутрішньо детерміновані нервові субстрати;
характерні мімічні або нервово-м'язові виразні комплекси;
відмінне суб'єктивне переживання або феноменологічну якість.
Жоден з цих компонентів не утворює емоцію самостійно. Цілісна емоція (або повний емоціональний процес) вимагає всіх цих трьох компонентів, хоч в одному з них — виражальному комплексі — і тривалість, і інтенсивність послаблюються соціалізацією.</p>

{% endblock content %}